node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Android
android-app/.gradle
android-app/build
android-app/app/build
android-app/local.properties
android-app/*.iml
android-app/.idea
android-app/captures
android-app/.externalNativeBuild
android-app/.cxx
